<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <i class="fas fa-glass-martini drink"></i>
    <span class="logo"> Dr. Cocktail </span>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <%= link_to("Create Cocktail", new_cocktail_path, class: "btn-danger btn") %>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="../../assets/images/Alex.jpg" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<h1> </h1>
<br>
<br>
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
<!-- <h2><%= cocktail.name %></h2>
  <%= link_to(cocktail.name, cocktail_path(cocktail.id)) %>
  <br>
  <br>
  <%= link_to "Delete", cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure?" } %> -->

  <div class="col-xs-12 col-sm-4">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">
      <div class="card-description">
        <h2><%= cocktail.name %></h2>
        <p>Check It Out</p>
      </div>
      <!-- <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay"> -->
      <%= link_to("", cocktail_path(cocktail.id), class: "card-link") %>
    </div>
  </div>
  <% end %>
</div>
  <br>
  <br>
</div>

