<br>
<%= @cocktail.name %>
<br>
<br>
<%= link_to('Add Dosage', new_cocktail_dose_path(@cocktail)) %>
<br>
<br>
<% @cocktail.doses.each do |f| %>
  <p><%= f.ingredient.name %></p>
  <p><%= f.description %></p>
  <%= link_to "Delete", dose_path(f), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
